{% extends "base.html" %}
{% block title %}Dashboard — FRED Commodity Pipeline{% endblock %}
{% block content %}
    <h1>Portfolio </h1>
    <table>
        <tr>
            <th>Series</th>
            <th>Quantity</th>
            <th>Current Price</th>
            <th>Avg. Cost</th>
            <th>Unrealised PnL</th>
            <th>Realised PnL</th>
        </tr>
        {% for position in net_positions %}
        <tr>
            <td>{{ position.series_id }}</td>
            <td>{{ position.net_quantity }}</td>
            <td>{{ "%.2f" | format(position.current_price) }}</td>
            <td>{{ "%.2f" | format(position.avg_cost) }}</td>
            <td>{{ "%.2f" | format(position.unrealised_pnl) }}</td>
            <td>{{ "%.2f" | format(position.realised_pnl) }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
</body>
</html>

