<!DOCTYPE html>
<html>
<head>
    <title>FRED Commodity Pipeline</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/trades/new">New Trade</a>
    <a href="/portfolio">portfolio</a>
    <h1>Trades </h1>
    <table>
        <tr>
            <th>Series</th>
            <th>Buy/Sell</th>
            <th>Quantity</th>
            <th>Trade Date</th>
            <th>Price</th>
            <th>Latest Price</th>
            <th>Latest Price Date</th>
            <th>Log Date</th>
        </tr>
        {% for trade in trades %}
        <tr>
            <td>{{ trade.series_id }}</td>
            <td>{{ trade.direction | upper() }}</td>
            <td>{{ trade.quantity }}</td>
            <td>{{ trade.trade_date.strftime("%Y/%m/%d") }}</td>
            <td>{{ "%.2f" | format(trade.price) }}</td>
            <td>{{ "%.2f" | format((latest_prices.get(trade.series_id) or (None, None))[1]) }}</td>
            <td>{{ (latest_prices.get(trade.series_id) or (None, None))[0].strftime("%Y/%m/%d") }}</td>
            <td>{{ trade.created_at.strftime("%Y/%m/%d") }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
